
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" href="DD_Cap_nhat.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    @using System.Xml;
    @{
        var Du_lieu = XL_DU_LIEU.Khoi_dong_Du_lieu();
        var Chuoi_Nhap_lieu_HoTen = "";
        var Chuoi_Nhap_lieu_SBD = "";
        var Chuoi_Nhap_lieu_DiemToan = "0";
        var Chuoi_Nhap_lieu_DiemVan = "0";
        var Chuoi_Nhap_lieu_DiemAnhVan = "0";
        var Chuoi_Nhap_lieu_DiemThuong = "0";
        var Chuoi_Nhap_lieu_DiemXetTuyen = "0";
        var Chuoi_Nhap_lieu_TenTruongCap2 = "Trường cấp 2 Đặng viết ngọc Châu";
        var Chuoi_Nhap_lieu_MaTruongCap2 = "TR2_1";
        var Chuoi_Nhap_lieu_TenTruongCap3_1 = "Trường cấp 3 Đổ kiên Anh";
        var Chuoi_Nhap_lieu_TenTruongCap3_2 = "Trường cấp 3 Châu thị Cương";
        var Chuoi_Nhap_lieu_TenTruongCap3_3 = "Trường cấp 3 Trần tiến Xuân";
        var Chuoi_Nhap_lieu_TenTruongCap3_4 = "Trường cấp 3 Ngô kỳ Thiều";
        var Chuoi_Nhap_lieu_MaTruongCap3_1 = "TR3_3";
        var Chuoi_Nhap_lieu_MaTruongCap3_2 = "TR3_1";
        var Chuoi_Nhap_lieu_MaTruongCap3_3 = "TR3_16";
        var Chuoi_Nhap_lieu_MaTruongCap3_4 = "TR3_7";

        var Chuoi_The_hien_Thong_bao = new HtmlString("Nhập thông tin của thí sinh và click OK");


        if (IsPost)
        {
            Chuoi_Nhap_lieu_HoTen = Request["Th_HoTen"].Trim();
            Chuoi_Nhap_lieu_SBD = Request["Th_SBD"].Trim();
            Chuoi_Nhap_lieu_DiemToan = Request["Th_DiemToan"].Trim();
            Chuoi_Nhap_lieu_DiemVan = Request["Th_DiemVan"].Trim();
            Chuoi_Nhap_lieu_DiemAnhVan = Request["Th_DiemAnhVan"].Trim();
            Chuoi_Nhap_lieu_DiemThuong = Request["Th_DiemThuong"].Trim();
            Chuoi_Nhap_lieu_DiemXetTuyen = Request["Th_DiemXetTuyen"].Trim();
            Chuoi_Nhap_lieu_TenTruongCap2 = Request["Th_TenTruongCap2"].Trim();
            Chuoi_Nhap_lieu_MaTruongCap2 = Request["Th_MaTruongCap2"].Trim();
            Chuoi_Nhap_lieu_TenTruongCap3_1 = Request["Th_TenTruongCap3_1"].Trim();
            Chuoi_Nhap_lieu_TenTruongCap3_2 = Request["Th_TenTruongCap3_2"].Trim();
            Chuoi_Nhap_lieu_TenTruongCap3_3 = Request["Th_TenTruongCap3_3"].Trim();
            Chuoi_Nhap_lieu_TenTruongCap3_4 = Request["Th_TenTruongCap3_4"].Trim();
            Chuoi_Nhap_lieu_MaTruongCap3_1 = Request["Th_MaTruongCap3_1"].Trim();
            Chuoi_Nhap_lieu_MaTruongCap3_2 = Request["Th_MaTruongCap3_2"].Trim();
            Chuoi_Nhap_lieu_MaTruongCap3_3 = Request["Th_MaTruongCap3_3"].Trim();
            Chuoi_Nhap_lieu_MaTruongCap3_4 = Request["Th_MaTruongCap3_4"].Trim();
            try
            {
                //validation
                var CHoten = !Chuoi_Nhap_lieu_HoTen.IsEmpty();
                var CSBD = !Chuoi_Nhap_lieu_SBD.IsEmpty();
                float DiemToan = float.Parse(Chuoi_Nhap_lieu_DiemToan);
                float DiemVan = float.Parse(Chuoi_Nhap_lieu_DiemToan);
                float DiemAnhVan = float.Parse(Chuoi_Nhap_lieu_DiemToan);
                float DiemThuong = float.Parse(Chuoi_Nhap_lieu_DiemToan);
                float DiemXetTuyen = float.Parse(Chuoi_Nhap_lieu_DiemToan);
                var CDiem = (0 <= DiemToan && DiemToan <= 10) && (0 <= DiemVan && DiemVan <= 10) && (0 <= DiemAnhVan && DiemAnhVan <= 10) && (0 <= DiemThuong && DiemThuong <= 10) && (0 <= DiemXetTuyen && DiemXetTuyen <= 10);
                var Hop_le = CHoten && CSBD && CDiem;
                if (Hop_le)
                {
                    //ghi
                    var Thi_Sinh = Du_lieu.Khoi_Tao_Thi_sinh(Chuoi_Nhap_lieu_SBD, Chuoi_Nhap_lieu_HoTen, Chuoi_Nhap_lieu_DiemToan, Chuoi_Nhap_lieu_DiemVan, Chuoi_Nhap_lieu_DiemAnhVan, Chuoi_Nhap_lieu_DiemThuong, Chuoi_Nhap_lieu_DiemXetTuyen);
                    
                    var Kq = Du_lieu.Them_Thi_sinh(Thi_Sinh);
                    if (Kq == "")
                    {                                                
                        Chuoi_The_hien_Thong_bao = new HtmlString("Đã cập nhật");
                    }
                    else
                    {
                        Chuoi_The_hien_Thong_bao = new HtmlString("Cập nhật không thành công");
                    }
                }
                else
                {
                    Chuoi_The_hien_Thong_bao = new HtmlString("Dữ liệu không hợp lệ ");
                }
            }
            catch (Exception ex)
            {
                Chuoi_The_hien_Thong_bao = new HtmlString("Dữ liệu không hợp lệ ");
            }

        }
        //else if (IsPost && Request["Th_Diem_Toan"] != null)
        //{
        //    var SBD = Request["Th_SBD"];
        //    var Chuoi_Diem_Toan = Request["Th_Diem_Toan"].Trim();
        //    int DiemToan = -1;
        //    try
        //    {
        //        DiemToan = int.Parse(Chuoi_Diem_Toan);
        //        var Hop_le = (0 <= DiemToan && 10 >= DiemToan);
        //        if (Hop_le)
        //        {
        //            var Thi_Sinh = Du_lieu.Tim_Thi_Sinh_Theo_SBD(SBD);
        //            Thi_Sinh.SetAttribute("Diem_Toan", Chuoi_Diem_Toan);
        //            var Kq = Du_lieu.Cap_Nhat_Thi_sinh(Thi_Sinh);
        //            if (Kq == "")
        //            {
        //                var Chuoi_HTML = Du_lieu.Tao_Chuoi_HTML_Cap_nhat_Diem_Toan(Thi_Sinh);
        //                Chuoi_The_hien_Thi_Sinh = new HtmlString(Chuoi_HTML);
        //                Chuoi_The_hien_Thong_bao = new HtmlString("Đã cập nhật");
        //            }
        //            else
        //            {
        //                Chuoi_The_hien_Thong_bao = new HtmlString("Cập nhật không thành công");
        //            }

        //        }
        //        else
        //        {
        //            Chuoi_The_hien_Thong_bao = new HtmlString("0 <= Điểm toán <= 10");
        //        }
        //    }
        //    catch (Exception ex)
        //    {
        //        Chuoi_The_hien_Thong_bao = new HtmlString("Điểm toán phải không rỗng và là số");
        //    }

        //}
    }


    <div class="container-fluid">
        <form action="MH_Them_Thi_Sinh.cshtml" method="post" class="row">
            <input name="Th_HoTen" class="NHAP_LIEU" id="Th_HoTen" spellcheck="false"
                   autocomplete="off" placeholder="Họ Tên"
                   value="@Chuoi_Nhap_lieu_HoTen" />
            </br>
            <input name="Th_SBD" class="NHAP_LIEU" id="Th_SBD" spellcheck="false"
                   autocomplete="off" placeholder="Số Báo Danh"
                   value="@Chuoi_Nhap_lieu_SBD" />
            </br>
            <table>
                <tr>
                    <td>Điểm Toán</td>
                    <td>
                        <input name="Th_DiemToan" class="NHAP_LIEU" id="Th_DiemToan" spellcheck="false"
                            autocomplete="off" placeholder="Điểm Toán"
                        value="@Chuoi_Nhap_lieu_DiemToan" />            
                    </td>
                </tr>
                <tr>
                    <td>Điểm Văn</td>
                    <td>
                        <input name="Th_DiemVan" class="NHAP_LIEU" id="Th_DiemVan" spellcheck="false"
                               autocomplete="off" placeholder="Điểm Văn"
                               value="@Chuoi_Nhap_lieu_DiemVan" />
                    </td>
                </tr>
                <tr>
                    <td>Điểm Anh Văn</td>
                    <td>
                        <input name="Th_DiemAnhVan" class="NHAP_LIEU" id="Th_DiemAnhVan" spellcheck="false"
                               autocomplete="off" placeholder="Điểm Anh Văn"
                               value="@Chuoi_Nhap_lieu_DiemAnhVan" />
                    </td>
                </tr>
                <tr>
                    <td>Điểm Thưởng</td>
                    <td>
                        <input name="Th_DiemThuong" class="NHAP_LIEU" id="Th_DiemThuong" spellcheck="false"
                               autocomplete="off" placeholder="Điểm Thưởng"
                               value="@Chuoi_Nhap_lieu_DiemThuong" />
                    </td>
                </tr>
                <tr>
                    <td>Điểm Xét tuyển</td>
                    <td>
                        <input name="Th_DiemXetTuyen" class="NHAP_LIEU" id="Th_DiemXetTuyen" spellcheck="false"
                               autocomplete="off" placeholder="Điểm Xét Tuyển"
                               value="@Chuoi_Nhap_lieu_DiemXetTuyen" />
                    </td>
                </tr>
            </table>                                                 
            </br>
            Tên Trường Cấp 2: 
            <input name="Th_TenTruongCap2" class="NHAP_LIEU" id="Th_TenTruongCap2" spellcheck="false"
                   autocomplete="off" placeholder="Tên Trường Cấp 2"
                   value="@Chuoi_Nhap_lieu_TenTruongCap2" />
            </t>
            Mã Trường Cấp 2: 
            <input name="Th_MaTruongCap2" class="NHAP_LIEU" id="Th_MaTruongCap2" spellcheck="false"
                   autocomplete="off" placeholder="Mã Trường Cấp 2"
                   value="@Chuoi_Nhap_lieu_MaTruongCap2" />
            </br>
            Tên Trường Cấp 3:
            <input name="Th_TenTruongCap3_1" class="NHAP_LIEU" id="Th_TenTruongCap3_1" spellcheck="false"
                   autocomplete="off" placeholder="Tên Trường Cấp 3"
                   value="@Chuoi_Nhap_lieu_TenTruongCap3_1" />
            </t>
            Mã Trường Cấp 3:
            <input name="Th_MaTruongCap3_1" class="NHAP_LIEU" id="Th_MaTruongCap3_1" spellcheck="false"
                   autocomplete="off" placeholder="Mã Trường Cấp 3"
                   value="@Chuoi_Nhap_lieu_MaTruongCap3_1" />
            </br>
            Tên Trường Cấp 3:
            <input name="Th_TenTruongCap3_2" class="NHAP_LIEU" id="Th_TenTruongCap3_2" spellcheck="false"
                   autocomplete="off" placeholder="Tên Trường Cấp 3"
                   value="@Chuoi_Nhap_lieu_TenTruongCap3_2" />
            </t>
            Mã Trường Cấp 3:
            <input name="Th_MaTruongCap3_2" class="NHAP_LIEU" id="Th_MaTruongCap3_2" spellcheck="false"
                   autocomplete="off" placeholder="Mã Trường Cấp 3"
                   value="@Chuoi_Nhap_lieu_MaTruongCap3_2" />
            </br>
            Tên Trường Cấp 3:
            <input name="Th_TenTruongCap3_3" class="NHAP_LIEU" id="Th_TenTruongCap3_3" spellcheck="false"
                   autocomplete="off" placeholder="Tên Trường Cấp 3"
                   value="@Chuoi_Nhap_lieu_TenTruongCap3_3" />
            </t>
            Mã Trường Cấp 3:
            <input name="Th_MaTruongCap3_3" class="NHAP_LIEU" id="Th_MaTruongCap3_3" spellcheck="false"
                   autocomplete="off" placeholder="Mã Trường Cấp 3"
                   value="@Chuoi_Nhap_lieu_MaTruongCap3_3" />
            </br>
            Tên Trường Cấp 3:
            <input name="Th_TenTruongCap3_4" class="NHAP_LIEU" id="Th_TenTruongCap3_4" spellcheck="false"
                   autocomplete="off" placeholder="Tên Trường Cấp 3"
                   value="@Chuoi_Nhap_lieu_TenTruongCap3_4" />
            </t>
            Mã Trường Cấp 3:
            <input name="Th_MaTruongCap3_4" class="NHAP_LIEU" id="Th_MaTruongCap3_4" spellcheck="false"
                   autocomplete="off" placeholder="Mã Trường Cấp 3"
                   value="@Chuoi_Nhap_lieu_MaTruongCap3_4" />
            </br>
            <input class="btn primary" type="submit" value="OK" />
        </form>
        <div id="Th_Thong_bao" class="row THONG_BAO">
            @Chuoi_The_hien_Thong_bao
        </div>
    </div>
</body>
</html>
